@model List<Category>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                    <h1 class="display-5 mb-3">Our Products</h1>
                    <p>Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
                </div>
            </div>
            <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
                <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
                    @foreach (var cat in Model)
                    {
                        <li class="nav-item me-2">
                            <a class="btn btn-outline-primary border-2 @(cat == Model.First() ? "active":"")" data-bs-toggle="pill" href="#@cat.Name.Replace(" ","-")">@cat.Name</a>
                        </li>
                    }
                  

                </ul>
            </div>
        </div>
        <div class="tab-content">
            @foreach (var cat in Model)
            {
                <div id="@cat.Name.Replace(" ", "-")" class="tab-pane fade @(cat == Model.First() ? "show active" : "")">
                    @await Component.InvokeAsync("_ProductListViewComponentPartial", cat.Id)
                </div>
            }

        </div>
    </div>
</div>